@tailwind base;
@tailwind components;
@tailwind utilities;

.uploadcare--widget__button_type_open {
  background-color: #157cfc;
}

.uploadcare--widget__button_type_open:hover {
  background-color: #1556fc;
}

.uploadcare--widget__button {
  font-size: 1.2rem;
  width: 66vw;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
}

.container {
  @apply m-6;
}

.container h1 {
  @apply text-4xl text-center font-extrabold m-2;
}

.container h2 {
  @apply text-3xl text-center font-bold m-2;
}

.container ol {
  @apply text-xl m-2 list-decimal;
}
